/**
 * FILENAME:    calculator-css.css
 * DESCRIPTION: This is the CSS for codyschindler.com/fcc/calculator.
 * REQS:        n/a
 * VERISON:     1.0.1
 * UPDATED:     2015-11-09
 * WRITTEN BY:  Cody Schindler (quiksand)
 * ORGANIZATION: 
 * CHANGELOG:  
 * 1.0.0 (2015-11-03): Creation
 * 1.0.1 (2015-11-09): Deployment
 */


html,
body {
	padding: 0;
	margin: 0;
	color: #FCF4D9;
	background-color: #333333;
}

.calcbody {
	margin: auto;
	border: 3px solid #00AA00;
	border-radius: 20px;
	height: 500px;
	width: 306px;
	padding: 0px;
}

.calcscreen {
	border-radius: 10px;
	border: 3px solid #00AA00;
	margin: 10px auto 10px auto;
	width: 280px;
	height: 100px;
}

.numbutton {
	border: 3px solid #00AA00;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	margin: 10px;
	display: inline-block;
	position: relative;
	float: left;
}

.numbutton:active,
.numbutton:focus {
	background-color: #00AA00;
}

.opbutton {
	border: 3px solid #00AAA0;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	margin: 10px;
	display: inline-block;
	position: relative;
	float: left;
}

.opbutton:active,
.opbutton:focus {
	background-color: #00AAA0;
}

.funcbutton {
	border: 3px solid #FF7260;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	margin: 10px;
	display: inline-block;
	position: relative;
	float: left;
}

.funcbutton:active,
.funcbutton:focus {
	background-color: #FF7260;
}



.plus {
	height: 120px !important;
	border-radius: 10px !important;
	/*top: 10px;*/
}
.zero,
.period,
.equal {
	bottom: 70px;
}

.sign {

}

.ac,
.seven,
.four, 
.one,
.zero {
	margin-left: 20px !important;
}
